In [26]:
import numpy as np
import pandas as pd
import seaborn as sb
import os
import matplotlib.pyplot as plt
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

In [27]:
df = pd.read_csv('https://raw.githubusercontent.com/fmoreno4/datasets/main/comprar_alquilar_con_cate.csv')
df

,ingresos,gasto_ppal,vehiculo,otros_gastos,ahorros,Valor_vivienda,estado_civil,hijos,trabajo,comprara
0,6000,1000,0,600,50000,400000,Soltero,2,Tipo 2,Si
1,6745,944,123,429,43240,636897,Casado,3,Tipo 6,No
2,6455,1033,98,795,57463,321779,Separado,1,Tipo 8,Si
3,7098,1278,15,254,54506,660933,Soltero,0,Tipo 3,No
4,6167,863,223,520,41512,348932,Soltero,0,Tipo 3,Si
...,...,...,...,...,...,...,...,...,...,...
197,3831,690,352,488,10723,363120,Soltero,0,Tipo 2,No
198,3961,1030,270,475,21880,280421,Separado,3,Tipo 8,No
199,3184,955,276,684,35565,388025,Casado,3,Tipo 8,No
200,3334,867,369,652,19985,376892,Casado,2,Tipo 5,No
201,3988,1157,105,382,11980,257580,Soltero,0,Tipo 4,No

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ingresos        202 non-null    int64
 1   gasto_ppal      202 non-null    int64
 2   vehiculo        202 non-null    int64
 3   otros_gastos    202 non-null    int64
 4   ahorros         202 non-null    int64
 5   Valor_vivienda  202 non-null    int64
 6   estado_civil    202 non-null    object
 7   hijos           202 non-null    int64
 8   trabajo         202 non-null    object
 9   comprara        202 non-null    object
dtypes: int64(7), object(3)
memory usage: 15.9+ KB

In [29]:
df.isnull().sum()

ingresos          0
gasto_ppal        0
vehiculo          0
otros_gastos      0
ahorros           0
Valor_vivienda    0
estado_civil      0
hijos             0
trabajo           0
comprara          0
dtype: int64

In [30]:
categorias = df['estado_civil'].unique()
print(categorias)

['Soltero' 'Casado' 'Separado']

In [31]:
categorias = df['trabajo'].unique()
print(categorias)

['Tipo 2' 'Tipo 6' 'Tipo 8' 'Tipo 3' 'Tipo 5' 'Tipo 1' 'Tipo 7' 'Tipo 0'
 'Tipo 4']

In [32]:
categorias = df['comprara'].unique()
print(categorias)

['Si' 'No']

In [33]:
mapa1 = { 'Soltero': 1, 'Casado': 2, 'Separado': 3}
df['estado_civil'] = df['estado_civil'].map(mapa1)

mapa2 = { 'Tipo 0': 0, 'Tipo 1': 1, 'Tipo 2': 2, 'Tipo 3': 3, 'Tipo 4': 4, 'Tipo 5': 5, 'Tipo 6': 6, 'Tipo 7': 7,'Tipo 8': 8}
df['trabajo'] = df['trabajo'].map(mapa2)

df

,ingresos,gasto_ppal,vehiculo,otros_gastos,ahorros,Valor_vivienda,estado_civil,hijos,trabajo,comprara
0,6000,1000,0,600,50000,400000,1,2,2,Si
1,6745,944,123,429,43240,636897,2,3,6,No
2,6455,1033,98,795,57463,321779,3,1,8,Si
3,7098,1278,15,254,54506,660933,1,0,3,No
4,6167,863,223,520,41512,348932,1,0,3,Si
...,...,...,...,...,...,...,...,...,...,...
197,3831,690,352,488,10723,363120,1,0,2,No
198,3961,1030,270,475,21880,280421,3,3,8,No
199,3184,955,276,684,35565,388025,2,3,8,No
200,3334,867,369,652,19985,376892,2,2,5,No
201,3988,1157,105,382,11980,257580,1,0,4,No

In [34]:
predictores = df[['ingresos','gasto_ppal','vehiculo','otros_gastos','ahorros','Valor_vivienda','estado_civil','hijos','trabajo']]
objetivo = df.comprara

In [35]:
pred_train, pred_test, res_train, res_test = train_test_split(predictores, objetivo, test_size=0.2)

In [36]:
#Modelo SVM
SVM_Model = SVC(gamma='auto', kernel='rbf')
SVM_Model.fit(pred_train, res_train)

SVC(gamma='auto')

In [37]:
print (f'Precisión: {SVM_Model.score(pred_test, res_test):.4f}')

Precisión: 0.5854

In [38]:
from sklearn.metrics import recall_score

y_pred = SVM_Model.predict(pred_test)
recall = recall_score(res_test, y_pred, average='weighted')
print(f'Recall: {recall:.4f}')

Recall: 0.5854